#cozydinning{
    display: flex;
    gap: 2%;
    margin-left: 25%;
}
.tip1{
    display: flex;
    gap: 4%;
}
.tip2{
    display: flex;
    gap: 4%;
}
.tip3{
    display: flex;
    gap: 4%;
}
.cozy{
    width: 430px;
    height: 530px;
}
#navbar{
    display: flex;
    gap: 5%;
    margin-left: 25%;
    background-color: black;
    margin-right: 31%;
    color: antiquewhite;
    
}


.image1{
    width: 800px;
    height: 550px;
    margin-left: 25%;
}
.benefit{
    text-align: center;

}
.choose{
    display: flex;
    margin-left: 25%;
    gap: 5%;
}
.popular{
    text-align: center;
}
.furniture{
    display: flex;
    margin-left: 25%;
    gap: 5%;
}
.styleproduct{
    text-align: center;
}
.livingroom{
    display: flex;
    margin-left: 25%;
    gap: 5%;
}
.bed{
    display: flex;
    margin-left: 25%;
    gap: 5%;
}
.moderndinning{
display: flex;
margin-left: 25%;
gap: 5%;
}
.testimonial{
    text-align: center;
    background-color: rgb(218, 199, 218);
    margin-right: 31%;
    margin-left: 25%;
}
.services{
    display: flex;
    margin-left: 25%;
    gap: 2%;
    background-color: rgb(248, 246, 243);
}
.bestfurniture{
    margin-left: 35%;
}
.footer{
    display: flex;
    gap: 8%;
    margin-left: 25%;
    color: antiquewhite;
    background-color: black;
    margin-right: 30%;

}
.firstorder{
    margin-left: 25%;
}
.home{
    margin-left: 25%;
}
.b2{
    margin-left: 15%;
}
span{
color:  rgb(200, 145, 72);
}
.butt{
    color: antiquewhite;
    background-color: rgb(172, 124, 62);
}
.p1{
    margin-left: 5%;
}
.t2{
    background-color: rgb(218, 199, 218);
    margin-right: 31%;
    margin-left: 25%;
}
.text{
    position: absolute;
    top: 40%; 
    left: 40%; 
    transform: translate(-40%, -40%); 
    color: #fff; 
    padding: 10px 20px;  
    text-align: center;
}
@media only screen and (max-width: 768px) {
    #cozydinning{
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .tip1{
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .tip2{
        flex-wrap: wrap;
        overflow-x: hidden; 
    }
    .tip3{
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .cozy{
        width: 290px;
        height: 530px;
    }
    #navbar{
        flex-wrap: wrap;
        overflow-x: hidden;
    
        background-color: black;
        margin-right: 31%;
        color: antiquewhite;
        
    }
    
    
    .image1{
        width: 290px;
        height: 530px;
        overflow-x: hidden;
    }
    .benefit{
        text-align: center;
    
    }
    .choose{
        flex-wrap: wrap; 
        overflow-x: hidden;   
    }
    .popular{
        text-align: center;
    }
    .furniture{
        flex-wrap: wrap;
        overflow-x: hidden;
    
    }
    .styleproduct{
        text-align: center;
        overflow-x: hidden;
    }
    .livingroom{
        flex-wrap: wrap;
        overflow-x: hidden;
    
    }
    .bed{
        flex-wrap: wrap;
        overflow-x: hidden;
        
    }
    .moderndinning{
flex-wrap: wrap;
overflow-x: hidden;

    }
    .testimonial{
        text-align: center;
        background-color: rgb(218, 199, 218);
        overflow-x: hidden;
    
    }
    .services{
    flex-wrap: wrap;
    overflow-x: hidden; 
        background-color: rgb(248, 246, 243);
    }
    .bestfurniture{
        
    }
    .footer{
        flex-wrap: wrap;
    
        color: antiquewhite;
        background-color: black;
        overflow-x: hidden;
    
    }
    .firstorder{
        overflow-x: hidden;  
    }
    .home{
        overflow-x: hidden;
    }
    .b2{
        overflow-x: hidden;   
    }
    span{
    color:  rgb(200, 145, 72);
    }
    .butt{
        color: antiquewhite;
        background-color: rgb(172, 124, 62);
        overflow-x: hidden;
    }
    .p1{
        overflow-x: hidden;
    }
    .t2{
        background-color: rgb(218, 199, 218);
        
    }
    .text{
        position: absolute;
        top: 60%; 
        left: 60%; 
        transform: translate(-50%, -50%); 
        color: #fff; 
        padding: 10px 20px;  
        text-align: center;
        overflow-x: hidden;
}}
@media only screen and (min-width: 769px) and (max-width: 912px) {
    #cozydinning{
        flex-wrap: wrap;
        overflow-x: hidden;
        
    }
    .tip1{
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .tip2{
        flex-wrap: wrap;
        overflow-x: hidden;
        
    }
    .tip3{
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .cozy{
        width: 430px;
        height: 530px;
        overflow-x: hidden;
    }
    #navbar{
        flex-wrap: wrap;
        background-color: black;
        color: antiquewhite;
        overflow-x: hidden;
        
    }
    
    
    .image1{
        width: 800px;
        height: 550px;
        overflow-x: hidden;
    }
    .benefit{
        text-align: center;
        overflow-x: hidden;
    
    }
    .choose{
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .popular{
        text-align: center;
        overflow-x: hidden;
    }
    .furniture{
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .styleproduct{
        text-align: center;
    }
    .livingroom{
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .bed{
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .moderndinning{
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .testimonial{
        text-align: center;
        background-color: rgb(218, 199, 218);
        
    }
    .services{
        flex-wrap: wrap;
        background-color: rgb(248, 246, 243);
        overflow-x: hidden;
    }
    .bestfurniture{
        overflow-x: hidden;   
    }
    .footer{
        flex-wrap: wrap;
        color: antiquewhite;
        background-color: black;
        overflow-x: hidden;
    
    }
    .firstorder{
        overflow-x: hidden;
    }
    .home{
        overflow-x: hidden;   
    }
    .b2{
        overflow-x: hidden;
    }
    span{
    color:  rgb(200, 145, 72);
    }
    .butt{
        color: antiquewhite;
        background-color: rgb(172, 124, 62);
    }
    .p1{
        
    }
    .t2{
        background-color: rgb(218, 199, 218);
    }
    .text{
        position: absolute;
        top: 40%; 
        left: 40%; 
        transform: translate(-40%, -40%); 
        color: #fff; 
        padding: 10px 20px;  
        text-align: center;
    }
}

